*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent{
    width: 100%;
    height: 100vh;
    border: 20px solid black;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;

}
.child1{
    width: 200px;
    height: 200px;
    background-color: red;
    order: 1;
    flex-grow: 1;
}
.child2{
    width: 200px;
    height: 200px;
    background-color: blue;
    order: 2;
    flex-grow: 1;
}
.child3{
    width: 200px;
    height: 200px;
    background-color: green;
}
.child4{
    width: 200px;
    height: 200px;
    background-color: pink;
}